<!DOCTYPE html>
<html>
<body>
{% extends "base.html" %}
{% block app_content %}
  <div class="home">
    <h1>A Python product</h1>
    <p>This website was built with Python via the Flask framework.</p>
  </div>
  {% for countdown in countdowns %}
  <div> <b>{{countdown.NameProject}}</b> needs to be done by {{countdown.DueDate}} and the time left is <b>{{countdown.Countdown}}</b></div>
  {% endfor %}
 

    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
    <p>
    {% include '_post.html' %}
    </p>
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
</body>
</html>
